<div class="container">
  <h1>Register User </h1>
  <form class="register-form" (ngSubmit)="register()">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="firstName" name="firstName" required>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" [(ngModel)]="lastName" name="lastName" required>
    </div>
    <div>
      <label for="username">Username:</label>
      <input type="text" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="text" [(ngModel)]="phone" name="phone" required>
    </div>
<!--    <div>-->
<!--      <label for="picture">Picture URL:</label>-->
<!--      <input type="file" [(ngModel)]="picture" (change)="onFileSelected($event)" accept="image/*">-->
<!--    </div>-->
    <div>
      <label for="description">Description:</label>
      <textarea  [(ngModel)]="description" name="description"></textarea>
    </div>
    <button type="submit">Register User</button>
  </form>
  <p class="error-message">{{ errorMessage }}</p>
</div>
